.task {
    padding: 0.1rem 0 0.1rem 1rem;
    margin: 0.7rem 0.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #cdcdcd;
    height: 4rem;
}

.text {
    font-size: 1.4rem;
    text-wrap: nowrap;
    max-width: 33rem;
    overflow: auto;
    scrollbar-width: none;
}

.inputEdit {
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    margin: 0 0.5rem 0 0;
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
}
