.task {
    padding: 0.1rem 0 0.1rem 1rem;
    margin: 0.7rem 0.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #cdcdcd;
    display: flex;
    height: 4rem;
    justify-content: space-between;
}

.text {
    margin-left: 0.5rem;
    font-size: 1.4rem;
    text-wrap: nowrap;
    max-width: 34rem;
    overflow: auto;
    scrollbar-width: none;
}

.task div {
    display: flex;
    align-items: center;
}

.task .leftContainer {
    width: 100%;
}

.task .rightContainer {
    gap: 10px;
    padding-right: 0.5rem;
}

.inputEdit {
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    margin: 0 0.5rem 0 0;
    padding: 0 0.5rem 0 0.5rem;
    width: 100%;
}
